<ion-header class="ion-container ion-no-border">
  <ion-toolbar>
    <div class="wrapper">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon color="primary" name="logo-linkedin"></ion-icon>
        </ion-button>
        <ion-searchbar
          color="light"
          class="ion-hide-lg-down"
          placeholder="Search"
        ></ion-searchbar>
      </ion-buttons>

      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="home-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="globe-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="bag-handle-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-avatar>
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
